<div class="header">
     <h1>Submit a Story</h1>
</div>

<div class="main">
	<div class="container">
        
	   <%= form_for(@new_post, :html => { :style => 'height: 400px;' }) do |f| %>
	             <%= f.text_field :story, class: 'storc', :placeholder => "
				 Share Your Thoughts 
				 Peep into your life" %>
	     <%= f.submit "Peap It", :class => "button.btn" %>
	   <% end %>

	   <ul class="stories">
	     <% @all_posts.each do |p| %>
	     <li> <%= p.story %> </li>
	     <% end %>
	   </ul>
	   
       <%= form_for(@new_matter) do |f| %>
             <%= f.text_field :content, :placeholder => "Share Your Thoughts" %>
       <%= f.submit "Peap It", :class => "button.btn" %>
       <% end %>

       <ul class="contents">
          <% @all_matters.each do |p| %>
              <li> <%= p.content %> </li>
          <% end %>
       </ul>
	   
	   
	 <div class="controls">
       <%= collection_select( :matter, :matter_id, Matter.all, :content, :content) %>
     </div>
	</div>
</div>
        